body {
}

div {
    border-color: red;
    border-width: 3px;
    background-color: red;
}

.main-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr repeat(1, 3fr) 1fr;
}

.header {
    grid-column: 1, 3;
    grid-row: 1, 2;
}

.footer{

}